body{background-color:white;font-family:inherit;margin:12px;}
        
h1{text-align:center;font-size:30px;color:#20349f}

.myDiv{text-align:center;font-size:11px}

h2{color:#20349f;font-size:21px;}
    
p{color:black;margin:10px}